<html>
  <style>
    .content {
      max-width: 500px;
      margin: auto;
    }
    </style>
<body style="background-color:powderblue;">
<div class=content>
<div class="wrap">
<h1>Enter a Text</h1>

  <form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
<input type="text" id="in" name="inputtext"><br><br>

  <br><br>
  <input type="submit" value="Submit" color=blue>
</form>
{% load static %}
{% if response  %}
    <div>
  {% if response == "Sad" %}
    <div>
    <h2>The response is: {{ response }} </h2><br>
    <img src="{% static 'admin/img/sad image.jpg'%}" alt="" srcset="">
    </div>
  {% else %}
     <div>
    <h2>The response is: {{ response }} </h2><br>
    <img src="{% static 'admin/img/happy smile.jpg'%}" alt="" srcset="">
     </div>
     
    </div>
 
 {% endif %} 
{% endif %} 
</div>
</body>      
</div>    
</html>